.container-input-radio{
    height: auto;
    width: 30vw;
    position: relative;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 20px;
    
    .input{
        margin: 0 10px 0 10px;
        padding: 0;
        border: none;
        height: 15px;
        width: 15px;
    }
    
    .answer{
        color: black;
    }
}