.container-red-line{
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    border-radius: 0 8px 8px 0;
    background-color: white;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.46);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 30px;
    box-sizing: border-box;
    
    .title-question{
        font-size: 25px;
        margin-bottom: 50px;
    }
    
    .question{
        width: 90%;
        padding: 12px 0;
        font-size: 18px;
        border-radius: 5px;
        margin: 0 0 20px 0;
        -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.46);
        -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.46);
        box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.46);
    }
    
    .question-validate{
        color: white;
        background-color: #2ecc71;
    }
    
    .question-wrong{
        color: white;
        background-color: #e74c3c;
    }
}